<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>

        <div class="healthbar">
          <div
            v-if="monsterHealth > 0"
            class="healthbar__value"
            :style="{width:`${monsterHealth}%`}"
          ></div>
          <div v-else class="healthbar__dead"></div>
        </div>
      </section>

      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div
            v-if="playerHealth"
            class="healthbar__value"
            :style="{width:`${playerHealth}%`}"
          ></div>
          <div v-else class="healthbar__dead"></div>
        </div>
      </section>

      <section id="controls">
        <button @click="playerAttack">ATTACK</button>
        <button>SPECIAL ATTACK</button>
        <button>HEAL</button>
        <button>SURRENDER</button>
      </section>
      <section v-if="battleLog.length > 0 " id="log" class="container">
        <h2>Battle Log</h2>
        <ul></ul>
      </section>
      <section v-else>
        <p>There's no log to show at this moment.</p>
      </section>
    </div>
  </body>
</html>
